/*
    Password meter display built on "zxcvbn"

    Author: André Luiz Rabêllo
    Version: 1.0.0

    ******* Needs "zxcvbn" by dropbox to work
*/

.password-meter {
    position: relative;
}
.password-meter .password-meter-bar {
    position: absolute;
    transition: all 0.3s ease 0s;
    opacity: 1;
    visibility: visible;
}
.password-meter .password-meter-bar .horizontal {
    border-radius: 3px;
    bottom: 6px;
    left: 0;
    right: 100%;
    height: 4px;
    margin: 0 15px;
}
.password-meter .password-meter-bar .vertical {
    border-radius: 0 3px 3px 0;
    right: 0;
    bottom: 0;
    top: 100%;
    width: 4px;
}
.password-meter .password-meter-input ~ .popover {
    white-space: nowrap;
}
.password-meter .password-meter-help {
    margin-top: 5px;
}
